<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- CDNS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
</head>
<body>

    <div id="app" class="container">
        <div class="columns">
            <div class="column">
                <br>
                <h2 class="title is-2">Add new</h2>
                <form action="/api/add" method="post">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input autocomplete="off" class="input" type="text" name="name" id="name" placeholder="Nikolay">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Telephone</label>
                        <div class="control">
                            <input autocomplete="off" class="input" type="tel" name="telephone" id="telephone" placeholder="89991234455">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link" type="submit">Submit</button>
                        </div>
                        <div class="control">
                            <button class="button is-text" type="reset">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="column">
                <br>
                <h2 class="title is-2">Find</h2>
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input autocomplete="off" class="input" type="text" name="name" id="name" placeholder="Nikolay" v-model="searchTerm">
                    </div>
                </div>
                <p v-if="searches!='not found'" v-for="search in searches">{{search[0]}} &mdash; {{search[1]}} ({{search[2]}})</p>
                <p v-if="searches=='not found'">Not Found</p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                searchTerm: null,
                searches: "not found"
            },
            watch: {
                searchTerm: function (val) {
                    if (val == "") {
                        app.searches = "not found"; 
                        return
                    } else {
                        let searchRequest = new XMLHttpRequest();
                        searchRequest.open('GET', '/api/find/' + val, true);
                        searchRequest.send();
                        searchRequest.onreadystatechange = function() {
                            if (searchRequest.readyState == 4) {
                                let searches = JSON.parse(searchRequest.responseText)
                                if (searches.length) {
                                    app.searches = searches;
                                } else {
                                    app.searches = "not found";
                                }
                            };
                        }
                    };
                }
            }
        })
    </script>
</body>
</html>